<!--
 * Name(s): Rosa Lisa Silipino, Jose Urrutia, Alberto Escalante
 * Class: CS 578 Final Project
 * File: index.html
 * Description: Basic layout of components on webpage.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PiBLE Reminders</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>PiBLE REMINDERS</h1>
    <div class="container">
        <input type="text" id="reminderInput" placeholder="Enter a reminder" />
        <button onclick="addReminder()">Add</button>
    </div>
    <ul id="reminderList"></ul>
    <script src="/static/script.js"></script>
</body>
</html>
